//Fonts in project
$main-font-family: 'Segoe UI', sans-serif;
$additional-font-family: 'IBM Plex Mono', monospace;

//colors
$main-font-color: #001427;
$additional-font-color: #8A91A8;

//Font size for PC sreens
$header1-pc-size: 72px;
$header2-pc-size: 48px;
$header3-pc-size: 36px;
$header4-pc-size: 24px;
$paragraph1-pc-size: 28px;
$paragraph2-pc-size: 24px;

//Width for different types of screen
$wrapper-pc-width: 1318px;
$textblock-pc-width: 1113px;
$paragraph-pc-width: 980px;

body { margin: 0; }

#app { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

@media screen and (min-device-width: 1440px) {
    
    body {
        padding: 64px;
        font-family: $main-font-family;
        color: $main-font-color;
    }


    //Main component styles

    .navigationBar {
        display: flex;
        width: $wrapper-pc-width;
        margin-left: auto;
        margin-right: auto;
        h4, a {
            margin-right: 48px;
            text-decoration: none;
        }
        :last-child {
            margin-right: 0px;
        }
    }

    .divWrapper{
        width: $wrapper-pc-width;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
    }


    //Text

    h1 { 
        font-size: $header1-pc-size; 
        font-weight: bold;
        margin: 86px 0 0 0;
    }

    h2 { 
        font-size: $header2-pc-size; 
        font-weight: bold;
        margin: 0 0 48px 0;
    }

    h3 { 
        font-size: $header3-pc-size; 
        font-weight: 600;
        margin: 0;
    }

    h4 { 
        font-size: $header4-pc-size;
        font-weight: bold;
        margin: 0;
    }

    .navigationLink {
        font-size: $paragraph2-pc-size;
    }


    //Rows

    .textblock {
        width: $textblock-pc-width;
        margin: 86px 0 0 0;
    }

    .paragraph1 { 
        font-size: $paragraph1-pc-size;
        line-height: 170%;
        width: $paragraph-pc-width;
    }
    
    .paragraph2 {
        font-size: $paragraph2-pc-size;
        line-height: 170%;
        width: $paragraph-pc-width;
    }


    //Skill component styles

    .listSkillContainer{
        display: flex;
        margin: 0 0 32px 0;
        h4{
            line-height: 170%;
            width: 315px;
        }
        .paragraph2{
            margin: 0;
            width: 664px;
        }
    }


    //Job Info component styles

    .listSkillWrapper{
        padding: 0;
        margin: 0;
    }

    .listJobsWrapper{
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    .companyInfoRow{
        display: flex;
        margin-bottom: 16px;
        align-items: baseline;
        flex-direction: row;
        :first-child{
            margin-right: 16px;
        }
        .paragraph2{
            color: $additional-font-color;
        }
    }

    .aboutJobBlock{
        h4{
            margin-bottom: 4px;
        }
        p{
            margin: 0;
        }
        margin-bottom: 16px;
    }
    .aboutWorkingBlock{
        
        h4{
            margin-bottom: 4px;
        }
        
        p{
            margin: 0;
        }
        
        margin-bottom: 16px;
        
        li{
            margin-bottom: 12px;
        }
        
        ul{
            padding-left: 24px;
            list-style-type: disc;
            :last-child{
                margin-bottom: 0;
            }
        }
    }

    .jobInfoBlock{
        margin-bottom: 48px;
    }

}