body { margin: 0; padding: 64px; }

@media screen and (min-device-width: 1440px) {
    .applicationWrapper{
        width: 1318px;
        margin-left: auto;
        margin-right: auto;
    }
  
    h1 { font-size: 72px; }
  
    h2 { font-size: 48px; }
  
    h4 {
        margin: 0;
        font-weight: bold;
        font-size: 24px;
        color: #2c3e50;
    }

    .textblock { width: 1113px; }

    .paragraph1 { 
        color: #2c3e50;
        font-size: 28px;
        line-height: 170%;
    }
  
    #app {
        font-family: 'Segoe UI', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
  
    .navigationBar {
        display: flex;
        width: 1318px;
        margin-left: auto;
        margin-right: auto;
    }

    .navigationLink {
        font-size: 24px;
    }
  
    .navigationBar > h4, a {
        margin-right: 48px;
        text-decoration: none;
    }
  
    .navigationBar > :last-child {
        margin-right: 0px;
    }  
}