    $main-font-family: 'Segoe UI', sans-serif;
    $additional-font-family: 'IBM Plex Mono', monospace;

    $main-page-width-pc: 1100px;
    $inner-main-page-width-pc: 720px;
    
    $main-page-width-mobile: 320px;
    $inner-main-page-width-mobile: $main-page-width-mobile;
    
    $main-page-width-mobile-landscape: 80%;
    $inner-main-page-width-mobile-landscape: 80%;

    $main-page-width-tablet: 680px;
    $inner-main-page-width-tablet: $main-page-width-tablet;

    $main-page-width-laptop: 80%;
    $inner-main-page-width-laptop: 65%;

    $main-font-color: #071A22;
    $additional-font-color: #8A91A8;

    body { 
        margin: 0; 
        padding: 0;
    }

    ul{
        list-style-type: none;
        padding-left: 0;
        margin: 0;
    }

    a{  
        color:#2f6bdb;
        &:visited{
            color:#2f6bdb;
        }
        &:hover{
            color:#6da0ff;
        }
        text-decoration: none;
    }

    #app { 
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; 
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: $main-font-family;
    }