@import 'main';
@import 'fonts';

@media screen and (min-device-width: 1440px) {
    .application-block {
        width: $main-page-width-pc;
        display: flex;
        flex-direction: column;
        margin: 64px 0;
        p {
            margin: 0;
        }
        .header-1 {
            margin: 0 0 48px 0; 
        }
    }
}
@media screen and (min-device-width: 359px) and (max-device-width: 415px){
    .application-block {
        width: $main-page-width-mobile;
        display: flex;
        flex-direction: column;
        margin: 48px 0;
        p {
            margin: 0;
        }
        .header-1 {
            margin-bottom: 36px; 
        }
    }
}