@import 'main';
@import 'fonts';

@media screen and (min-device-width: 1440px) {
    .my-skills-block {
        width: $inner-main-page-width-pc;
        margin-bottom: 48px;
        .header-2{
            margin-bottom: 36px;
        }
    }

    .skills-list-block{
        display: flex;
        flex-direction: column;
    }

    

    .skill-item-block {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
        border-bottom: 1px solid #CFDAFF;
        padding-bottom: 28px;
        
        :last-child{
            border-bottom: none;
        }

        .skill-item-block-title { 
            width: 162px;
            .paragraph-secondary-semibold{
                hanging-punctuation: first;
            }
        }
        
        .skill-item-block-list {
            display: flex;
            flex-direction: column;
            width: 460px;
            li{
                margin-bottom: 12px;
            }
            :last-child{
                margin-bottom: 0px;
            }
        }
    }
}