@import 'main';
@import 'fonts';

@media screen and (min-device-width: 359px) and (max-device-width: 414px) {
    .navigation-bar-block{
        display: flex;
        margin-top: 24px;
        align-items: baseline;
        width: $main-page-width-mobile;       
        .paragraph-secondary-regular, .paragraph-secondary-semibold{
            margin-right: 24px; 
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .paragraph-secondary-regular{
            color: #466dec;
        }
        :last-child{
            margin-right: 0;
        }

        .active-navigation-router{
            color: lightskyblue;
        }
    }
}

@media screen and (min-device-width: 415px) and (max-device-width: 767px) {
    .navigation-bar-block{
        display: flex;
        margin-top: 24px;
        align-items: baseline;
        width: $main-page-width-mobile-landscape;       
        .paragraph-secondary-regular, .paragraph-secondary-semibold{
            margin-right: 24px; 
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .paragraph-secondary-regular{
            color: #466dec;
        }
        :last-child{
            margin-right: 0;
        }

        .active-navigation-router{
            color: lightskyblue;
        }
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    .navigation-bar-block{
        display: flex;
        margin-top: 24px;
        align-items: baseline;
        width: $main-page-width-tablet;       
        .paragraph-secondary-regular, .paragraph-secondary-semibold{
            margin-right: 24px; 
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .paragraph-secondary-regular{
            color: #466dec;
        }
        :last-child{
            margin-right: 0;
        }

        .active-navigation-router{
            color: lightskyblue;
        }
    }
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1365px) {
    .navigation-bar-block{
        display: flex;
        margin-top: 48px;
        align-items: center;
        width: $main-page-width-laptop;       
        .paragraph-secondary-regular, .paragraph-secondary-semibold{
            margin-right: 24px; 
        }
        .paragraph-secondary-regular{
            color: #466dec;
        }
        :last-child{
            margin-right: 0;
        }
        .active-navigation-router{
            color: lightskyblue;
        }
    }
}

@media screen and (min-device-width: 1366px) {
    .navigation-bar-block{
        display: flex;
        margin-top: 48px;
        align-items: center;
        width: $main-page-width-pc;       
        .paragraph-secondary-regular, .paragraph-secondary-semibold{
            margin-right: 24px; 
        }
        .paragraph-secondary-regular{
            color: #466dec;
        }
        :last-child{
            margin-right: 0;
        }

        .active-navigation-router{
            color: lightskyblue;
        }
    }
}