@import 'main';
@import 'fonts';

@media screen and (min-device-width: 1440px) {
    .navigation-bar-block{
        display: flex;
        margin-top: 48px;
        align-items: center;
        width: $main-page-width-pc;       
        .paragraph-secondary-regular, .paragraph-secondary-semibold{
            margin-right: 24px; 
        }
        a{
            text-decoration: none;
        }
        :last-child{
            margin-right: 0;
        }
    }
}