@import 'main';
@import 'fonts';

@media screen and (min-device-width: 1440px) {
    .work-experience-block{
        width: $inner-main-page-width-pc;
        margin-bottom: 48px;
        .header-2{
            margin-bottom: 36px;
        }
        :last-child{
            margin-bottom: 0;
        }
    }
    .work-experience-job-list{
        margin-bottom: 36px;
        .paragraph-primary-semibold{
            margin-bottom: 24px;
        }
    }

    .work-experience-list-wrapper{
        .work-experience-project-item{
            margin-bottom: 24px;
        }
        :last-child{
            margin-bottom: 0px;
        }
    }

    .work-experience-job-item{
        background: #FBFDFF;
        border: 1px solid #CFDAFF;
        padding: 28px 48px 36px 20px;
    }

    .work-experience-project-item{
        background: #FDFFFD;
        border: 1px solid #D4FFD0;
        padding: 28px 48px 36px 20px;
    }

    .work-experience-job-item__job-title{
        margin-bottom: 24px;
        .header-2{
            margin-bottom: 4px;
        }
        .paragraph-secondary-regular{
            color: $additional-font-color;
        }
    }

    .work-experience-project-item__project-title{
        margin-bottom: 24px;
        .header-2{
            margin-bottom: 4px;
        }
        .paragraph-secondary-regular{
            color: $additional-font-color;
        }
    }

    .work-experience-job-item__job-description{
        margin-bottom: 24px;
        .paragraph-secondary-semibold{
            margin-bottom: 12px;
        }
    }

    .work-experience-job-item__duties-block{
        margin-bottom: 24px;
        .paragraph-secondary-semibold{
            margin-bottom: 12px;
        }
        .paragraph-secondary-regular{
            margin-bottom: 8px;
        }
    }

    .work-experience-project-item__duties-block{
        margin-bottom: 24px;
        .paragraph-secondary-semibold{
            margin-bottom: 12px;
        }
        .paragraph-secondary-regular{
            margin-bottom: 8px;
        }
    }

    .work-experience-project-item__role-block{
        margin-bottom: 24px;
        .paragraph-secondary-semibold{
            margin-bottom: 8px;
        }
    }

    .work-experience-job-item__link-block{
        margin-bottom: 24px;
        .paragraph-secondary-semibold{
            margin-bottom: 12px;
        }
    }
}